<div class="container" >
    <ng-container *ngIf="isLoading">
        <mat-spinner class="loading-spinner" diameter="50"></mat-spinner>
    </ng-container>

    <div class="container-header" *ngIf="!isLoading && movie">
        <button 
            mat-raised-button 
            (click)="goBack()"
            aria-label="Voltar"
            class="back-button"
        >
            <mat-icon>arrow_back_ios</mat-icon>
            Voltar
        </button>
    </div>

    <div class="movie-details" *ngIf="!isLoading && movie">
        <div class="movie-poster-container">
            <div class="movie-poster">
                <img
                    [src]="movie.poster_path !== null ? 'https://image.tmdb.org/t/p/w500' + movie.poster_path : '/image_not_found.jpg'"
                    [alt]="movie.title"
                />
            </div>
            <div class="movie-actions">
                <button mat-raised-button class="trailer-button" *ngIf="trailerKey" (click)="openTrailer()">
                    <mat-icon class="trailer-icon">play_circle</mat-icon>
                    Assistir ao Trailer
                </button>
                <button mat-raised-button class="favorite-button" [matMenuTriggerFor]="addTo">
                    <mat-icon>add_to</mat-icon>
                    Adicionar
                </button>
                <mat-menu #addTo="matMenu">
                    <button mat-menu-item (click)="addToFavorites($event)">
                        <mat-icon>{{ isFavorite ? 'favorite' : 'favorite_border' }}</mat-icon>
                        Favoritos
                    </button>
                    <button mat-menu-item>
                        <mat-icon>schedule</mat-icon>
                        Assistido
                    </button>
                    <button mat-menu-item>
                        <mat-icon>bookmark</mat-icon>
                        Assistir depois
                    </button>
                </mat-menu>
            </div>
        </div>

        <div class="movie-info">
            <h3 class="movie-title">{{movie.title}}</h3>

            <div class="movie-genres">
                <app-genre-chip *ngFor="let genre of movie.genres" [genre]="genre.name"/>
            </div>
            
            <div class="movie-stats">
                <span class="movie-rating">
                    <mat-icon>star</mat-icon>
                    {{ movie.vote_average | number : "1.1-1" }}
                </span>

                <span class="movie-runtime">
                    <mat-icon>access_time</mat-icon>
                    {{formatRuntime(movie.runtime)}}
                </span>

                <span class="movie-realease-date">
                    <mat-icon>calendar_today</mat-icon>
                    {{movie.release_date | date:'dd/MM/yyyy'}}
                </span>
            </div>

            <div class="movie-overview">
                <h4>Sinopse</h4>
                <p>{{movie.overview}}</p>
            </div>

           <app-movie-cast [cast]="topCast"/>
        </div>
    </div>
</div>
