.container {
  margin: 0 20px;

  .movie-details {
    display: flex;

    .movie-poster-container {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .movie-poster {
        img {
          width: 370px;
          height: 550px;
          border-radius: 10px;
        }
      }

      .movie-actions{
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        .trailer-button {
          background-color: #dc2626;
          color: #fff;
          border-radius: 5px;
        }
        .favorite-button {
          background-color: #dc2626;
          color: #fff;
          border-radius: 5px;
          .favorite-icon{
            color: black;
          }
        }
      }
    }

    .movie-info {
      margin: 0 40px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .movie-title {
        font-size: 2rem;
        font-weight: 600;
        margin: 0;
      }

      .movie-genres {
        display: flex;
        gap: 10px;
      }

      .movie-stats {
        display: flex;
        gap: 20px;

        .movie-rating {
          display: flex;
          align-items: center;
          gap: 5px;
          color: #9ca3af;
        }

        .movie-runtime {
          display: flex;
          align-items: center;
          gap: 5px;
          color: #9ca3af;
        }

        .movie-realease-date {
          display: flex;
          align-items: center;
          gap: 5px;
          color: #9ca3af;
        }
      }

      .movie-overview {
        color: #9ca3af;
        h4 {
          font-weight: 500;
          font-size: 1.2rem;
          color: #fff;
          margin: 0;
        }
      }
    }
  }
}
