<div class="movie-card">
    <div class="movie-image">
        <img
            [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
            [alt]="movie.title"
        />
        <!-- Overlay que sobrepoe a imagem -->
        <div class="movie-overlay">
            <p>{{ movie.overview }}</p>
        </div>
    </div>

  <!-- Informações do filme -->
    <div class="movie-info">
        <div class="movie-header">
            <h3>{{ movie.title }}</h3>
            <button mat-icon-button (click)="addToFavorites($event, movie)">
                <mat-icon>favorite</mat-icon>
            </button>
        </div>

        <div class="movie-details">
            <p
                style="display: flex; align-items: center; gap: 5px; font-size: 0.8rem"
            >
                <mat-icon style="transform: scale(0.8)">star</mat-icon>
                <span>{{ movie.vote_average | number : "1.1-1" }}</span>
            </p>

            <p
                style="display: flex; align-items: center; gap: 5px; font-size: 0.8rem"
            >
                <mat-icon style="transform: scale(0.6)">calendar_today</mat-icon>
                <span>{{ movie.release_date | date : "dd/MM/yyyy" }}</span>
            </p>
        </div>
    </div>
</div>
