<h2>Populares</h2>

<div class="popular-movies">
  <div class="movie-card">
    <img
      src="https://image.tmdb.org/t/p/w500/8b8R8l88Qje9dn9OE8PY05Nxl1X.jpg"
      alt=""
    />
    <div class="movie-info">
      <div class="movie-header">
        <h3>Titulo</h3>
        <mat-icon>favorite</mat-icon>
      </div>

      <div class="movie-details">
        <p
          style="
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 0.8rem;
          "
        >
          <mat-icon style="transform: scale(0.8)">star</mat-icon>
          <span>7.3</span>
        </p>

        <p
          style="
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 0.8rem;
          "
        >
          <mat-icon style="transform: scale(0.6)">calendar_today</mat-icon>
          <span>06/07/2025</span>
        </p>
      </div>
    </div>
  </div>
</div>
