<div class="searchContainer">
    <div class="searchField">
        <mat-icon matPrefix>search</mat-icon>
        <input 
            matInput
            placeholder="Pesquisar filme..."
            [(ngModel)]="query"
            (input)="onSearchChange()"
            (focus)="inputFocused = true"
            (blur)="onInputBlur()"
        >
        <button
            *ngIf="query"
            aria-label="Limpar pesquisa"
            (click)="clearSearch()"
        >
            <mat-icon >close</mat-icon>
        </button>
    </div>

    <div class="search-results" *ngIf="searchResults.length && inputFocused">
        <div 
            class="search-item"
            *ngFor="let movie of searchResults"
            (click)="router.navigate(['/filme', movie.id])"
        >
            <img [src]="movie.poster_path !== null? 'https://image.tmdb.org/t/p/w92' + movie.poster_path : '/image_not_found.jpg'" alt="Poster" />
            <div class="movie-info">
                <span>{{ movie.title }}</span>
                <p>
                    <span class="movie-rating">
                        <mat-icon>star</mat-icon>
                        {{ movie.vote_average | number : "1.1-1" }}
                    </span>
                    <span>{{ movie.release_date | date: 'yyyy' }}</span>
                </p>
            </div>
        </div>
    </div>
</div>