<mat-toolbar style="display: flex; justify-content: space-between; align-items: center;">
    <div style="display: flex; align-items: center; gap: 10px; cursor: pointer;" (click)="router.navigate(['/'])">
        <mat-icon>movie</mat-icon>
        <h3>MovieRadar</h3>
    </div>

    <div class="menuButtons">
        <app-search></app-search>

        <button 
            mat-button
            [routerLink]="'/'"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
        >
            <mat-icon>account_circle</mat-icon>
            Início
        </button>
        <button 
            mat-button
            [routerLink]="'/favoritos'"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
        >
            <mat-icon>favorite</mat-icon>
            Favoritos
        </button>
        <button 
            mat-button
            [routerLink]="'/meus-filmes'"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
        >
            <mat-icon>live_tv</mat-icon>
            Meus filmes
        </button>
    </div>
</mat-toolbar>