mat-toolbar {
    background-color: #02060f;
    color: #fff;
}

.menuButtons {
    display: flex;
    align-items: center;
    gap: 10px;

    button {
        color: #fff;
        font-size: 1rem;
        transition: color 0.3s ease;
        &:hover {
            color: #dc2626;
        }

        &.active {
            color: #dc2626;
        }
    }
}
